*{
    margin: 0;
    box-sizing: border-box;
}
.caja1{
    background-color: rgb(239, 175, 252);
    color: rgb(198, 237, 255);
    width: 200px;
    height: 100px;
    text-align: center;
    border: 5px solid;
    margin: 20px;
    padding: 10px;
}
.caja2{
    background-color: darksalmon;
    color: coral;
    width: 200px;
    height: 100px;
    text-align: center;
    border: 5px solid;
    margin: 20px;
    padding: 10px;
}
